#image {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

#img-container {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	padding: 15px;
}

#user-detail {
	display: inline-block;
}
